<ul class="sort-options">
  <li><%= link_to 'Activity', loblaw.conversations_path(sort: 'activity') %></li>
  <li><%= link_to 'Latest',   loblaw.conversations_path(sort: 'latest') %></li>
</ul>

<ol class="conversations">
  <%= render @conversations %>
</ol>

<%= paginate @conversations %>
