<ol class="conversations">
  <%= content_tag_for(:li, @conversations) do |conv| %>
    <%= link_to 'link', loblaw.conversation_path(conv) %>
    he said some minutes ago
  <% end %>
</ol>

<% if @conversations.count > Loblaw::ConversationsController.per_page %>
<nav class="pagination">
<% (1..3).each do |i| %>
  <li<% if current_page_number == i %> class="current"<% end %>>
    <%= link_to i, '#' %>
  </li>
<% end %>
</nav>
<% end %>
